@typeparam TValue
@inherits RAEditor<TValue>

@if (_isLoaded)
{
    @if (this.ShowLabel)
    {
        <RAPropertyLabel For="@this.ValueExpression"
                         ForId="@this.Id"
                         Value="@this.Label"
                         Class="@this.VisibilityClass" />
    }
    <div class="ra-property-editor @this.VisibilityClass">

        @{
            base.BuildRenderTree(__builder);
        }

        <div class="fst-italic ra-text-small">@this.Note</div>

        @if (this.EditContext != null)
        {
            <RAValidationMessage For="@ValueExpression"
                                 class="text-danger fw-bold ra-text-small ra-property-editor-error"
                                 style="margin-left: 3px;"/>
        }

    </div>
}

@code {

    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public string Note { get; set; }

    [Parameter]
    public bool ShowLabel { get; set; } = true;

    [CascadingParameter]
    public EditContext EditContext { get; set; }
}
