@typeparam TValue

@if (this.Value != null)
{
    <div class="ra-property-label @this.Class"
         style="@this.Style">
        <label for="@this.ForId"
               class="form-label">
            @this.Value
            @this.ChildContent
        </label>
    </div>
}

@code {

    [Parameter]
    public string? Value { get; set; }

    [Parameter]
    public Expression<Func<TValue>>? For { get; set; }

    [Parameter]
    public string? ForId { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string? Style { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    protected override void OnParametersSet()
    {
        if (this.For != null && !this.Value.HasText())
        {
            var memberInfo = this.For.Body.GetMemberInfo();
            this.Value = memberInfo?.GetDisplayName();
        }
    }
}
